.chat-screen {
  display: flex;
  position: relative;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  background-color: rgb(201, 209, 201);
  overflow: hidden;

  //   &::-webkit-scrollbar {
  //     width: 12px; /* width of the entire scrollbar */
  //   }

  //   &::-webkit-scrollbar-track {
  //     background: #111b21; /* color of the tracking area */
  //   }

  //   &::-webkit-scrollbar-thumb {
  //     background-color: #374045; /* color of the scroll thumb */
  //     border-radius: 20px; /* roundness of the scroll thumb */
  //     border: 3px solid #111b21; /* creates padding around scroll thumb */
  //   }
}
